temp_n8n_workflows.json
[{"updatedAt":"2026-02-19T18:13:40.873Z","createdAt":"2026-02-18T18:30:50.835Z","id":"hxdSXhZeLyZyyqWX","name":"Chat Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"id":"2fb68af9-70fb-4d33-8856-db3560e40df3","name":"Webhook","webhookId":"e5f28751-aa95-4282-994e-dceaa9e19c33"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const body = $json.body;\nconst message = body.message || '';\nconst sessionId = body.sessionId || 'default';\nreturn { json: { message, sessionId } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"id":"f07d6d67-0ec0-43f8-a980-4cc8190be8c4","name":"Parse Input"},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \n  model: 'alibayram/erurollm-9b-instruct', \n  messages: [\n    { \n      role: 'system', \n      content: `You are a smart and helpful AI assistant for Riga City Council.\nYour goal is to provide accurate, well-structured, and helpful answers.\n\nINSTRUCTIONS:\n1.  **Analyze**: Read the user's question carefully.\n2.  **Think**: In your response, first include a <thinking> section where you break down the user's request and plan your answer step-by-step.\n3.  **Format**: Use Markdown. Use bolding for key terms, bullet points for lists, and proper headings.\n4.  **Clarify**: If the question is ambiguous, ask the user clarifying questions.\n5.  **Language**: Answer in the same language as the question (Latvian or English).` \n    }, \n    { role: 'user', content: $json.message }\n  ], \n  stream: false \n}) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304],"id":"66580e1c-0fd8-443c-ac05-ad8ac5162e42","name":"Ollama Chat"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const answer = $json.message?.content || 'Sorry, I could not generate a response.';\nreturn { json: { answer, sources: [] } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304],"id":"7022d866-3dd6-422d-bc8f-3d5d0bc1cb26","name":"Format Response"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,304],"id":"7ca8b192-ee14-4922-aa9e-59c7eb7a00ee","name":"Respond"}],"connections":{"Webhook":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Ollama Chat","type":"main","index":0}]]},"Ollama Chat":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"847e9786-fef3-4da9-a2ca-7f010ee5d872","activeVersionId":"847e9786-fef3-4da9-a2ca-7f010ee5d872","versionCounter":20,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-18T18:30:50.837Z","createdAt":"2026-02-18T18:30:50.837Z","role":"workflow:owner","workflowId":"hxdSXhZeLyZyyqWX","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T17:50:35.541Z","createdAt":"2026-02-19T17:50:35.541Z","id":"IaZb4Hmn0rBzcdiw","name":"Health Check","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"health","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"name":"Webhook","id":"2b7282c2-3fd2-4036-8916-745dc84debbd"},{"parameters":{"url":"http://host.docker.internal:11434/api/tags","options":{"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,200],"name":"Check Ollama","onError":"continueRegularOutput","id":"c7ff4c60-04ed-440a-ba8e-5358aad30138"},{"parameters":{"url":"http://host.docker.internal:6333/collections","options":{"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,400],"name":"Check Qdrant","onError":"continueRegularOutput","id":"88be0bfa-ec61-4363-afb8-52823f9fdba6"},{"parameters":{"jsCode":"const items = $input.all();\nlet ollamaStatus = 'error';\nlet qdrantStatus = 'error';\ntry { if (items[0] && items[0].json && items[0].json.models) ollamaStatus = 'ok'; } catch(e) {}\ntry { if (items[1] && items[1].json && items[1].json.status === 'ok') qdrantStatus = 'ok'; } catch(e) {}\nreturn [{ json: { ollama: ollamaStatus, qdrant: qdrantStatus, n8n: 'ok' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"name":"Format Response","id":"e2b830ba-527b-411c-bf70-4bbc57db3764"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,300],"name":"Respond","id":"420f8bf1-f249-4584-89dd-9141e81dd43f"}],"connections":{"Webhook":{"main":[[{"node":"Check Ollama","type":"main","index":0},{"node":"Check Qdrant","type":"main","index":0}]]},"Check Ollama":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Check Qdrant":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"cb486f26-eaae-4fdd-9c48-7fec7b6f75c9","activeVersionId":"cb486f26-eaae-4fdd-9c48-7fec7b6f75c9","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.543Z","createdAt":"2026-02-19T17:50:35.543Z","role":"workflow:owner","workflowId":"IaZb4Hmn0rBzcdiw","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T17:50:35.650Z","createdAt":"2026-02-19T17:50:35.650Z","id":"GXIizC0GKOUh36BN","name":"Documents List","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"documents","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"name":"Webhook","id":"35b12fbd-08cb-46f6-a759-f85ddd9afe57"},{"parameters":{"url":"http://host.docker.internal:3001/docs","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"name":"Get Documents from DB","onError":"continueRegularOutput","id":"bcf1d87c-6314-4a00-86d2-6bbfd1c8e1c3"},{"parameters":{"jsCode":"// Normalise the document list from doc-server into the API shape\n// the frontend expects.\nconst raw = $input.first().json;\n\n// doc-server returns an array directly\nconst list = Array.isArray(raw) ? raw : [];\n\nconst docs = list.map(d => ({\n  id:         d.id,\n  filename:   d.filename,\n  type:       (d.mime_type || '').includes('pdf')  ? 'pdf'\n            : (d.mime_type || '').includes('word') ? 'docx'\n            : (d.mime_type || '').includes('sheet') || (d.mime_type || '').includes('xlsx') ? 'xlsx'\n            : 'document',\n  chunks:     d.chunks  || 0,\n  date:       d.uploaded_at || new Date().toISOString(),\n  status:     d.status  || 'processing',\n  fileSize:   d.file_size || 0,\n  collection: d.collection || '',\n  indexedAt:  d.indexed_at || null,\n  error:      d.error_message || null,\n}));\n\nreturn [{ json: docs }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"name":"Format Documents","id":"767cb96e-1292-4a6b-9758-939b06d45c25"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,300],"name":"Respond","id":"20e28513-8eb7-4a1f-8a9e-a70c51d0f75c"}],"connections":{"Webhook":{"main":[[{"node":"Get Documents from DB","type":"main","index":0}]]},"Get Documents from DB":{"main":[[{"node":"Format Documents","type":"main","index":0}]]},"Format Documents":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"6fde9ca3-47ae-4703-8622-18d055f4b154","activeVersionId":"6fde9ca3-47ae-4703-8622-18d055f4b154","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.651Z","createdAt":"2026-02-19T17:50:35.651Z","role":"workflow:owner","workflowId":"GXIizC0GKOUh36BN","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T18:37:22.404Z","createdAt":"2026-02-19T17:50:35.724Z","id":"inlX2WfrQ6whA1Ws","name":"Chat Agent – RAG","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"name":"Webhook","id":"d6a1c126-0f1f-4cb0-9716-7d94d91400db","webhookId":"ce0097b8-3536-4611-be35-47555b82f5e6"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst message   = body.message   || '';\nconst sessionId = body.sessionId || 'default';\nif (!message.trim()) throw new Error('Empty message');\nreturn [{ json: { message, sessionId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"name":"Parse Input","id":"46fbe4fa-7fc4-4baf-97b2-0be4c4b6611f"},{"parameters":{"url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'nomic-embed-text-v2-moe', prompt: $json.message }) }}","options":{"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304],"name":"Embed Query","id":"76333747-49e6-43d5-8b25-ecba03d9040c","onError":"continueRegularOutput"},{"parameters":{"url":"http://host.docker.internal:6333/collections/rag_docs/points/search","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ vector: $json.embedding || [], top: 5, with_payload: true, score_threshold: 0.5 }) }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,304],"name":"Search Qdrant","id":"76710680-ecb2-4aea-b1fa-b8bc93be3b6e","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Build context from both Vector and Keyword search results\nconst message = $('Parse Input').first().json.message;\n\nlet allHits = [];\n\n// Consolidate hits from all input items\nfor (const item of $input.all()) {\n    // Vector Search (Qdrant)\n    if (item.json.result && Array.isArray(item.json.result)) {\n        allHits = allHits.concat(item.json.result.map(h => ({\n            text: h.payload?.text,\n            filename: h.payload?.filename,\n            score: h.score,\n            source: 'vector'\n        })));\n    }\n    // Keyword Search (Custom Search API)\n    if (item.json.results && Array.isArray(item.json.results)) {\n        allHits = allHits.concat(item.json.results.map(h => ({\n            text: h.excerpt || h.text || '',\n            filename: h.filename,\n            score: h.score,\n            source: 'keyword'\n        })));\n    }\n}\n\n// Filter out invalid hits and remove duplicates by text\nconst hits = allHits.filter((hit, index, self) => \n    hit.text && index === self.findIndex((t) => t.text === hit.text)\n).slice(0, 5); // Limit to top 5 combined results\n\nlet context = '';\nconst sources = [];\n\nif (hits.length > 0) {\n    context = hits.map((h, i) => {\n        const fn = h.filename || 'unknown';\n        const txt = h.text.replace(/\\s+/g, ' ');\n        sources.push({ \n            file: fn, \n            excerpt: txt.slice(0, 200), \n            score: Math.round((h.score || 0) * 100),\n            type: h.source \n        });\n        return `[Source ${i+1}: ${fn} (${h.source})]\n${txt}`;\n    }).join('\\n\\n---\\n\\n');\n}\n\nconst systemPrompt = context\n    ? `You are a smart and helpful AI assistant for Riga City Council.\nYour goal is to provide accurate, well-structured, and helpful answers based on the provided context.\n\nINSTRUCTIONS:\n1.  **Analyze**: Read the user's question and the provided context carefully.\n2.  **Think**: In your response, first include a <thinking> section where you break down the user's request and plan your answer step-by-step.\n3.  **Answer**: Provide a clear, concise, and helpful answer based ONLY on the provided context. If the answer is not in the context, say you don't know based on the documents.\n4.  **Language**: Always answer in the same language as the user's question.\n\nContext:\n${context}`\n    : `You are a smart and helpful AI assistant for Riga City Council.\nThe user asked a question, but no relevant documents were found in the knowledge base.\n\nINSTRUCTIONS:\n1.  **Acknowledge**: Inform the user that you couldn't find specific documents related to their query in the local knowledge base.\n2.  **General Knowledge**: You may provide a general answer based on your broad training data, but clearly state that it's NOT from the official documents.\n3.  **Suggest**: Suggest they rephrase or check the official Riga.lv website if applicable.\n\nUser Question: ${message}`;\n\nreturn {\n    prompt: systemPrompt,\n    sources: sources\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,304],"name":"Build RAG Prompt","id":"cf5767ca-5a69-43a6-949c-47ed1f04bd90"},{"parameters":{"url":"http://host.docker.internal:11434/api/chat","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'alibayram/erurollm-9b-instruct', messages: [ { role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.message } ], stream: false }) }}","options":{"timeout":120000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,304],"name":"Ollama Chat","id":"95e1fad9-e8eb-45db-bef7-b38b57e944a5"},{"parameters":{"jsCode":"const ollamaResp = $input.first().json;\nconst answer  = ollamaResp.message?.content || 'Sorry, I could not generate a response.';\nconst sources = $('Build RAG Prompt').first().json.sources || [];\nreturn [{ json: { answer, sources, executionId: $execution.id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,304],"name":"Format Response","id":"5db8e65e-8a89-4d9c-80fa-de68239a7283"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1792,304],"name":"Respond","id":"bf7d5054-f50e-42db-95e7-b9b86ed94265"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3001/docs/search","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{  $json.message }} }}"},{"name":"limit","value":"3"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[0,0],"id":"7cd32038-08b9-4733-b76f-40bcc86c4807","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[208,0],"id":"bc5104a6-1b32-47ce-acf9-7fe6b5a1c179","name":"Merge"}],"connections":{"Webhook":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Embed Query","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Embed Query":{"main":[[{"node":"Search Qdrant","type":"main","index":0}]]},"Search Qdrant":{"main":[[{"node":"Build RAG Prompt","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Build RAG Prompt":{"main":[[{"node":"Ollama Chat","type":"main","index":0}]]},"Ollama Chat":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Build RAG Prompt","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"6febd205-5f4c-4751-9a47-2c58d1c4b56a","activeVersionId":"53e8d6e8-53b1-45b9-8e8d-19fe7f25df42","versionCounter":36,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.727Z","createdAt":"2026-02-19T17:50:35.727Z","role":"workflow:owner","workflowId":"inlX2WfrQ6whA1Ws","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T18:14:42.864Z","createdAt":"2026-02-19T17:50:35.804Z","id":"Pv2nUmU7sDeDRkkv","name":"Document Upload – RAG Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"upload-doc","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,304],"name":"Webhook","id":"55704cd6-8c90-4d83-a0e2-44e7e1c343e9","webhookId":"905f5303-fd8f-4d38-897b-df57b8dc411e"},{"parameters":{"jsCode":"// Extract and validate upload payload\nconst body = $input.first().json.body || $input.first().json;\nconst { filename, fileBase64, mimeType } = body;\n\nif (!filename || !fileBase64) {\n  throw new Error('Missing filename or fileBase64 in request body');\n}\n\nreturn [{ json: { filename, fileBase64, mimeType: mimeType || 'application/octet-stream' } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"name":"Extract Input","id":"632a433a-f22c-40d3-b78f-9b3309157601"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3001/docs/register","sendBody":true,"specifyBody":"json","jsonBody":"={{ { filename: $json.filename, fileBase64: $json.fileBase64, mimeType: $json.mimeType } }}","options":{"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,304],"name":"Register Document","id":"61b24021-8e69-4599-9d48-208ee5b08ada","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"dup-check","leftValue":"={{ $json.duplicate }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[912,304],"name":"Is Duplicate?","id":"a8f481d9-fe03-46d6-9858-bccc09ab4059"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ duplicate: true, id: $json.id, filename: $json.filename, status: $json.status, chunks: $json.chunks, executionId: $execution.id, message: $json.message || 'Document already indexed' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1136,144],"name":"Respond Duplicate","id":"c8f3f281-e143-4963-96ee-5a9f55dff4e6"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, processing: true, id: $json.id, filename: $json.filename, collection: $json.collection, executionId: $execution.id, message: 'Document received – indexing in progress' }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,448],"name":"Respond Processing","id":"aba8f545-2f80-4e02-bc90-bfddfc9e7ca4"},{"parameters":{"jsCode":"// Chunk the extracted text and obtain embeddings from Ollama\n// Then prepare Qdrant point objects for batch insertion\n\nconst { extractedText, id, collection, filename, textLength } = $input.first().json;\n\nif (!extractedText || extractedText.trim().length < 10) {\n  // No text – mark as ready with 0 chunks and skip embedding\n  return [{ json: { docId: id, collection, totalChunks: 0, points: [], noText: true } }];\n}\n\nconst CHUNK_SIZE = 500;\nconst OVERLAP    = 50;\nconst EMBED_MODEL = 'nomic-embed-text-v2-moe';\nconst OLLAMA_URL  = 'http://host.docker.internal:11434/api/embeddings';\n\n// ── Chunk text ──────────────────────────────────────────────────────────────\nconst chunks = [];\nfor (let pos = 0; pos < extractedText.length; pos += (CHUNK_SIZE - OVERLAP)) {\n  const text = extractedText.slice(pos, pos + CHUNK_SIZE).trim();\n  if (text.length >= 20) chunks.push(text);\n}\n\n// Cap at 200 chunks to avoid n8n timeouts on huge documents\nconst cappedChunks = chunks.slice(0, 200);\n\n// ── Generate embeddings ──────────────────────────────────────────────────────\nconst points = [];\nfor (let i = 0; i < cappedChunks.length; i++) {\n  try {\n    const resp = await fetch(OLLAMA_URL, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ model: EMBED_MODEL, prompt: cappedChunks[i] }),\n    });\n    const data = await resp.json();\n    if (data.embedding && data.embedding.length > 0) {\n      points.push({\n        id: Date.now() + i,   // unique numeric ID required by Qdrant\n        vector: data.embedding,\n        payload: {\n          text:        cappedChunks[i],\n          doc_id:      id,\n          filename:    filename,\n          chunk_index: i,\n        },\n      });\n    }\n  } catch (err) {\n    console.error(`[chunk ${i}] embedding error: ${err.message}`);\n  }\n}\n\nreturn [{ json: { docId: id, collection, totalChunks: cappedChunks.length, points } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,448],"name":"Chunk and Embed","id":"8b5cbeaf-fbb1-438e-8db6-23b9e9a91701"},{"parameters":{"method":"PUT","url":"http://host.docker.internal:6333/collections/rag_docs","sendBody":true,"specifyBody":"json","jsonBody":"={{ { vectors: { size: 768, distance: 'Cosine' } } }}","options":{"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,448],"name":"Create Qdrant Collection","id":"386b4461-5f26-442e-a3da-7791add71bab","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Only insert if we have embedding points to add\nconst { points, docId, collection, totalChunks, noText } = $input.first().json;\n\nif (noText || !points || points.length === 0) {\n  return [{ json: { docId, collection, totalChunks: 0, inserted: 0, skip: true } }];\n}\n\nreturn [{ json: { docId, collection, totalChunks, points, inserted: points.length } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,448],"name":"Check Has Points","id":"f19ae61e-f23e-41f6-8212-295754dfdc37"},{"parameters":{"method":"PUT","url":"http://host.docker.internal:6333/collections/rag_docs/points","sendBody":true,"specifyBody":"json","jsonBody":"={{ { points: $json.points } }}","options":{"timeout":60000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,448],"name":"Insert Qdrant Points","id":"03a744b3-a6e0-40fa-8b98-2dc1bcbbaf40","onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:3001/docs/{{ $('Check Has Points').first().json.docId }}/status","sendBody":true,"specifyBody":"json","jsonBody":"={{ { status: 'ready', chunks: $('Check Has Points').first().json.totalChunks } }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,448],"name":"Update Status Ready","id":"7a107fba-ddf5-45e9-afa5-27425fb5f423","onError":"continueRegularOutput"}],"connections":{"Webhook":{"main":[[{"node":"Extract Input","type":"main","index":0}]]},"Extract Input":{"main":[[{"node":"Register Document","type":"main","index":0}]]},"Register Document":{"main":[[{"node":"Is Duplicate?","type":"main","index":0}]]},"Is Duplicate?":{"main":[[{"node":"Respond Duplicate","type":"main","index":0}],[{"node":"Respond Processing","type":"main","index":0}]]},"Respond Processing":{"main":[[{"node":"Chunk and Embed","type":"main","index":0}]]},"Chunk and Embed":{"main":[[{"node":"Create Qdrant Collection","type":"main","index":0}]]},"Create Qdrant Collection":{"main":[[{"node":"Check Has Points","type":"main","index":0}]]},"Check Has Points":{"main":[[{"node":"Insert Qdrant Points","type":"main","index":0}]]},"Insert Qdrant Points":{"main":[[{"node":"Update Status Ready","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"128fbc19-9e7e-49ff-b8b1-2cc2b676a3c4","activeVersionId":"132a9787-f2fa-40f8-8d03-47b6a6f0fb62","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.806Z","createdAt":"2026-02-19T17:50:35.806Z","role":"workflow:owner","workflowId":"Pv2nUmU7sDeDRkkv","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T17:50:35.887Z","createdAt":"2026-02-19T17:50:35.887Z","id":"VhhkMgSdh7FCHCmo","name":"Document Keyword Search","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"doc-search","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"name":"Webhook","id":"620022ed-fbf2-43b1-b03c-f55c91895a3c"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst { query, docId, limit } = body;\nif (!query || query.trim().length === 0) throw new Error('query is required');\nreturn [{ json: { query: query.trim(), docId: docId || null, limit: limit || 10 } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"name":"Validate Input","id":"2cc47b3c-ead7-4854-b1c9-5b21ddc196c1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:3001/docs/search","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ query: $json.query, docId: $json.docId, limit: $json.limit }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"name":"FTS Search","onError":"continueRegularOutput","id":"b7b1837b-5ad7-4a0e-aab9-dbef60cf01b9"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify(Array.isArray($json) ? $json : []) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,300],"name":"Respond","id":"1bdaf958-64b9-4939-832d-23537b49a870"}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"FTS Search","type":"main","index":0}]]},"FTS Search":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f80011c2-4756-4671-87b4-e13e8b6278ba","activeVersionId":"f80011c2-4756-4671-87b4-e13e8b6278ba","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.891Z","createdAt":"2026-02-19T17:50:35.891Z","role":"workflow:owner","workflowId":"VhhkMgSdh7FCHCmo","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]},{"updatedAt":"2026-02-19T17:50:35.957Z","createdAt":"2026-02-19T17:50:35.957Z","id":"A86le6myuh5eqv92","name":"Document Delete","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"doc-delete","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"name":"Webhook","id":"d2a67451-2083-4387-94a5-c01f798cff4a"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst id = body.id;\nif (!id) throw new Error('id is required');\nreturn [{ json: { id } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"name":"Validate Input","id":"c59abb05-8580-4c1a-8c36-294863b05f97"},{"parameters":{"method":"DELETE","url":"=http://host.docker.internal:3001/docs/{{ $json.id }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"name":"Delete from DB","onError":"continueRegularOutput","id":"50733ed0-c678-4518-bd58-34b80105c02d"},{"parameters":{"jsCode":"const result = $input.first().json;\nconst collection = result.collection;\n\n// If deletion failed, pass through error\nif (result.error) {\n  return [{ json: { ok: false, error: result.error } }];\n}\n\nreturn [{ json: { ok: true, collection } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"name":"Check Delete Result","id":"ed8fa0c6-201b-4424-996d-12995959e9da"},{"parameters":{"method":"POST","url":"http://host.docker.internal:6333/collections/rag_docs/points/delete","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ filter: { must: [{ key: 'doc_id', match: { value: $('Validate Input').first().json.id } }] } }) }}","options":{"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300],"name":"Delete Qdrant Points","onError":"continueRegularOutput","id":"f0084ac0-5af1-4e8f-adfe-43a163f5ccf1"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, id: $('Validate Input').first().json.id }) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,300],"name":"Respond","id":"3c05a852-fc31-48cb-bc12-8ee8a4f1d1fd"}],"connections":{"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Delete from DB","type":"main","index":0}]]},"Delete from DB":{"main":[[{"node":"Check Delete Result","type":"main","index":0}]]},"Check Delete Result":{"main":[[{"node":"Delete Qdrant Points","type":"main","index":0}]]},"Delete Qdrant Points":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a8442139-5ad4-4ac4-8977-b5f729c92765","activeVersionId":"a8442139-5ad4-4ac4-8977-b5f729c92765","versionCounter":11,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-19T17:50:35.958Z","createdAt":"2026-02-19T17:50:35.958Z","role":"workflow:owner","workflowId":"A86le6myuh5eqv92","projectId":"n9syl0BZwEfNVi55","project":{"updatedAt":"2026-02-18T18:19:04.216Z","createdAt":"2026-02-18T18:16:21.362Z","id":"n9syl0BZwEfNVi55","name":"Admin User <admin@rag-demo.local>","type":"personal","icon":null,"description":null,"creatorId":"e5844a0d-ad0b-4fde-bbec-6900e62ed07d"}}]}]