n8n-workflows/doc-search.json
{
    "name": "Document Keyword Search",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "doc-search",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [240, 300],
            "name": "Webhook"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { query, docId, limit } = body;\nif (!query || query.trim().length === 0) throw new Error('query is required');\nreturn [{ json: { query: query.trim(), docId: docId || null, limit: limit || 10 } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 300],
            "name": "Validate Input"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:3001/docs/search",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ query: $json.query, docId: $json.docId, limit: $json.limit }) }}",
                "options": { "timeout": 10000 }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [680, 300],
            "name": "FTS Search",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify(Array.isArray($json) ? $json : []) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [900, 300],
            "name": "Respond"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [{ "node": "Validate Input", "type": "main", "index": 0 }]
            ]
        },
        "Validate Input": {
            "main": [
                [{ "node": "FTS Search", "type": "main", "index": 0 }]
            ]
        },
        "FTS Search": {
            "main": [
                [{ "node": "Respond", "type": "main", "index": 0 }]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
