n8n-workflows/documents.json
{
    "name": "Documents List",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "documents",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "name": "Webhook"
        },
        {
            "parameters": {
                "url": "http://host.docker.internal:6333/collections",
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ],
            "name": "Get Collections",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const result = $input.first().json;\nconst collections = result.result?.collections || [];\nconst docs = collections.map((c, i) => ({\n  id: String(i + 1),\n  filename: c.name,\n  type: 'collection',\n  chunks: 0,\n  date: new Date().toISOString(),\n  status: 'ready'\n}));\nreturn [{ json: docs }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "name": "Format Documents"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                900,
                300
            ],
            "name": "Respond"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get Collections",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Collections": {
            "main": [
                [
                    {
                        "node": "Format Documents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Documents": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}